<div class="container-fluid" *ngIf="!isOpenForm">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h1>
            Setting Voucher
          </h1>
          <div
            role="group"
            class="btn-group btn-group-sm btn-group-justified blocks"
          >
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary mr-2"
              (click)="showSearch(formSearch)"
            >
              <i class="fa fa-search font-size-14 align-middle mr-1"></i>
              Pencarian
            </button>
            <button
              type="button"
              class="btn btn-sm btn-primary mr-2"
              (click)="createVoucher()"
            >
              <i class="fa fa-plus font-size-14 align-middle mr-1"></i>
              Tambah Voucher
            </button>
          </div>
        </div>
        <div class="card-body">
          <table
            datatable
            class="table table-hover"
            datatable
            [dtOptions]="dtOptions"
            class="table table-hover"
            data-page-length="20"
          >
            <thead class="thead-light">
              <tr>
                <td>Nama</td>
                <td>Voucher</td>
                <td>Periode</td>
                <td>Status</td>
                <td width="90"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let voucher of listVoucher; index as i">
                <td class="vertical-middle">{{ voucher.user.nama }}</td>
                <td class="vertical-middle">{{ voucher.promo.nama }}</td>
                <td class="vertical-middle">
                  {{ voucher.periode_mulai }} s/d {{ voucher.periode_selesai }}
                </td>
                <td class="vertical-middle">
                  {{ voucher.status == 1 ? 'Aktif' : 'Tidak Aktif' }}
                </td>
                <td class="vertical-middle text-right">
                  <a
                    href="javascript: void(0);"
                    class="align-middle mr-2"
                    placement="left"
                    container="body"
                    ngbTooltip="Print"
                  >
                    <i class="fa fa-solid fa-print"></i>
                  </a>
                  <a
                    href="javascript: void(0);"
                    class="align-middle mr-2"
                    placement="left"
                    container="body"
                    ngbTooltip="Ubah"
                    (click)="updateVoucher(voucher)"
                  >
                    <i class="fa fa-edit font-size-14"></i>
                  </a>
                  <a
                    href="javascript: void(0);"
                    class="align-middle"
                    placement="left"
                    container="body"
                    ngbTooltip="Hapus"
                    (click)="deleteVoucher(voucher.id_voucher)"
                  >
                    <i class="fa fa-trash font-size-14"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isOpenForm">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h1>
            {{ titleCard }}
          </h1>
        </div>
        <div class="card-body">
          <app-form-voucher
            [voucherId]="modelId"
            (afterSave)="showForm(false); getVoucher()"
          ></app-form-voucher>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #formSearch let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{ titleCard }}</h5>
    <button
      type="button"
      class="close"
      (click)="modal.close()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label class="col-md-4">User</label>
        <div class="col-md-8">
          <ng-select
            [(ngModel)]="searchParams.id_user"
            [items]="listUser"
            bindLabel="nama"
            bindValue="id"
            placeholder="Pilih User"
            name="user"
            appendTo="body"
          ></ng-select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4">Voucher</label>
        <div class="col-md-8">
          <ng-select
            [(ngModel)]="searchParams.id_promo"
            [items]="listPromoByVoucher"
            bindLabel="nama"
            bindValue="id_promo"
            placeholder="Pilih Voucher"
            name="voucher"
            appendTo="body"
          ></ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-md-4">Rentang Waktu</label>
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            name="daterangeInput"
            daterangepicker
            [options]="options"
            (selected)="selectedDate($event, daterange)"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4"></label>
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary" (click)="search()">
            <i class="fa fa-search font-size-14 align-middle mr-1"></i>
            Cari
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
